@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Kanit";
}

nav {
    background-color: #6a0dad;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    filter: invert(1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #750ebf;

}

nav li a:active {
    background-color: #540a89;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 0;
    margin-bottom: 150px;
}

.random {
    text-align: center;
}

button {
    background-color: #6a0dad;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #750ebf;
}

button:active {
    background-color: #540a89;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

body .container p {
    font-size: 15pt;
    font-weight: 700;
    color: #262626;
}

body .container img {
    opacity: 0.8;
}

table {
    justify-content: center;
    border-collapse: collapse;
    width: 50%;
    margin: 40px auto;
    margin-bottom: 290px;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: #6a0dad;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: whitesmoke;
}
